.cards {
  columns: 4 250px;

  &__card {
    padding: 20px;
    border-radius: 5px;
    background: #fff;

    break-inside: avoid-column;
    page-break-inside: avoid;
    margin-bottom: 1rem;
    box-shadow: inset 0 0px 2px rgba(0, 0, 0, 0.15);
  }

  &__title {
    font-size: 2rem;
    margin-top: 0px;

    a {
      text-decoration: none;
    }
  }

  &__text {
    margin-bottom: 10px;
  }

  .tags {
    @extend .list-unstyled;
    margin: 0;
    font-size: 0; // to fix issue with spacing between inline-block elements when a line break and a few tabs counts as a space

    li {
      display: inline-block;
      background: #F6F6F6;
      border-radius: 3px;
      color: #B8B8B8;
      @include font-size(12);
      margin: 2px;
      padding: 4px 6px;
    }
  }
}