.cards {
  columns: 4 250px;

  &__card {
    border-radius: 2px;

    break-inside: avoid-column;
    page-break-inside: avoid;
    margin-bottom: 1rem;
    background: $color-white;
    border: 1px solid #eaeaea;
    overflow: hidden;

    > *:not(.cards__card-teaser) {
      margin: 0;
      padding-left: 20px;
      padding-right: 20px;

      &:last-child {
        padding-bottom: 15px;
      }
    }

    &-teaser {
      font-size: 0px;

      img {
        width: 100%;
      }
    }

    &-title {
      font-size: 2rem;
      padding-top: 10px;

      &:first-child {
        padding-top: 15px;
      }

      a {
        text-decoration: none;
      }
    }

    &-text {
      padding-top: 5px;
    }

    &-tags {
      @extend .list-unstyled;
      margin: 0;
      padding-top: 10px;
      font-size: 0; // to fix issue with spacing between inline-block elements when a line break and a few tabs counts as a space

      li {
        display: inline-block;
        background: #F6F6F6;
        border-radius: 3px;
        color: #B8B8B8;
        @include font-size(12);
        margin: 2px;
        padding: 4px 6px;
      }
    }
  }
}