.cards {
  columns: 4 250px;

  &__card {
    padding: 20px;
    border: 1px solid #999;
    border-radius: 5px;
    background: #fff;

    page-break-inside: avoid;
    break-inside: avoid-column;
    margin-bottom: 1rem
  }
  &__title {
    font-size: 2rem;
    margin-top: 0px;

    a {
      text-decoration: none;
    }
  }
}