.doc-content {
  @import '_asciidoctor';
  @import '_toc';

  display: flex;
  justify-content: center;

  #content {
    margin-top: 0;

    h2 {
      font-size: 2rem;
    }
  }

  a {
    color: $color-anchor;
  }
}

@media screen and (max-width: 768px) {
  .doc-content {
    display: block;

    > div:first-child {
      float: none !important;
    }

  }
}