.docpage {

  display: flex;

  &-menu {
    background-color: $color-dark-milk;
    margin-right: 20px;
    padding: 0 20px;

    a {
      text-decoration: none;
    }

    ul {
      padding-left: 20px;

      li {
        white-space: nowrap;
        @include font-size(16);

        a {
          color: $color-cod-gray;

          &:hover {
            color: $color-black;
          }
        }

        li a {
          color: $color-dove-gray;
          @include font-size(15);

          &:hover {
            color: $color-black;
          }
        }

        &.active {
          > a {
            color: $color-highlight;

            &:hover {
              color: $color-dark-highlight;
            }
          }
        }
      }
    }

    &-wrapper {
      position: sticky;
      top: 15px;

      > ul {
        padding-left: 0px;
        list-style-position: inside;
      }
    }

    &__title {
      margin-top: 15px;
      text-align: center;
      @include font-size(18);
    }

    &__search {
      flex-grow: 1;
      margin-top: 15px;
      @include font-size(16);

      &-input {
        width: 100%;
        padding: 5px 10px;
        line-height: 1.6rem;
        font-size: 1.4rem;
      }

      .live-search__search-box--loading::after {
        width: 11px;
        height: 10px;
        top: 10px;
      }

      .live-search__result {
        padding-left: 0px;
      }
    }
  }

  &-versions {
    color: $color-dove-gray;
    @include font-size(16);

    select {

      &:focus {
        outline: none;
      }
    }
  }

  &-content {
    @import '_asciidoctor';

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;

    &-header {
      display: flex;
      justify-content: space-between;
      margin-top: 15px !important;

      &__navigation {
        span {
          &:after {
            content: '>';
          }

          a {
            padding: 5px;
          }

          &:last-child {
            &:after {
              content: none;
            }

            a {
              color: $color-cod-gray;
            }
          }
        }

      }
    }

    a {
      color: $color-anchor;
    }

    #content {
      margin-top: 0;

      h2 {
        font-size: 2rem;
      }

      video {
        max-width: 100%;
      }
    }

    .title {
      display: none;
    }

    #title {
      &:before, &:after {
        display: none;
      }

      .docpage-versions {
        display: none;
      }
    }

    h2, h3 {
      text-transform: none;
    }

    .toc {
      padding: 5px 2.9rem 5px 1rem;
      border-left: 4px solid $color-toc-red;
      order: 1;
      flex-shrink: 0;
      margin-left: 20px;
      margin-bottom: 20px;

      position: sticky;
      top: 5px;

      #js-toc {
        > .toc-list {
          margin-left: 0;
          margin-bottom: 0px;
          list-style-type: square;
          color: gray;
          list-style-position: inside;
        }
      }

      .toc-list {
        @include list-unstyled;

        a {
          color: $color-toc-blue;

          &:hover {
            color: $color-toc-dark-blue;
          }
        }

        li ul li {
          list-style-type: none;
          font-size: 0.9em;

          &:before {
            content: "–  ";
          }
        }
      }

      .toc-title {
        @include font-size(16);
        font-family: "akkurat", Arial, sans-serif;
        margin-bottom: 10px;
        margin-top: 0px;
      }
    }

    &.showVersions #title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .docpage-versions {
        display: block;
      }
    }
  }

  &._0-1024, &.hasMenu {
    .docpage-content {
      display: block;

      #title {
        display: none;
      }

      .title {
        display: block;

        .docpage-versions {
          display: none;
        }
      }

      .toc {
        position: static;
        height: auto;
        margin-left: 0px;
      }
    }
  }

  &._0-1024 .showVersions .title {
    display: flex;
    justify-content: space-between;

    .docpage-versions {
      display: block;
    }
  }
}
