.docpage {

//  background-color: $color-white;
  display: flex;
  margin-bottom: 0px;
  color: $color-black;

  a {
    text-decoration: none;
  }

  h1 {
    margin: 0;
  }

  h2, h3 {
    text-transform: none;
  }

  &-menu {
    background-color: $color-pelorous;
    padding: 0 20px;
    min-width: 230px;
    position: relative;
    top: 15px;

    &-wrapper {
      position: sticky;
      top: 18px;
      margin-top: 18px;

      ol {
        padding: 0 20px;

        li {
          white-space: nowrap;
          @include font-size(16);
          position: relative;
          list-style: none;

          input {
            position: absolute;
            opacity: 0;
            z-index: 2;
            cursor: pointer;
            height: 16px;
            width: 16px;
            top: 4px;
            left: -21px;

            + label + ol > li {
              display: none;
            }

            &:checked + label {
              &:before {
                content: '';
                position: absolute;
                left: -20px;
                top: 10px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid black;
              }

              + ol > li {
                display: block;
              }
            }
          }

          label {
            &:before {
              content: '';
              position: absolute;
              left: -20px;
              top: 7px;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-left: 5px solid black;
            }
          }

          a {
            color: $color-menu-gray;

            &:hover {
              color: $color-white;
            }
          }

          li a {
            color: $color-silver;
            @include font-size(15);

            &:hover {
              color: $color-aqua-haze;
            }
          }

          &.active {
            > label a, > a {
              color: $color-highlight;

              &:hover {
                color: $color-dark-highlight;
              }
            }
          }
        }
      }

      > ol {
        margin: 0;
        padding: 15px 0 30px 20px;
      }

    }

    &__title {
      padding-bottom: 15px;
      line-height: 1;
      text-align: center;
      font-weight: bold;
      @include font-size(18);

      a {
        color: $color-white;
      }
    }

    &-search {
      flex-grow: 1;
      @include font-size(16);

      &-input {
        width: 100%;
        padding: 10px 30px 10px 35px;
        @extend .form-control;
      }

      &-icon {
        position: absolute;
        pointer-events: none;
        width: 18px;
        height: 18px;
        display: inline-block;
        top: 8px;
        left: 12px;
      }

      .live-search__search-box--loading::after {
        width: 11px;
        height: 10px;
        top: 10px;
      }

      .live-search__result {
        padding-left: 0px;
      }
    }

    &__versions {
      @include font-size(16);
      display: block;
      text-align: center;

      width: 120px;
      margin-left: auto;
      margin-right: auto;
      padding: 0px;
      overflow: hidden;
      position: relative;
      top: -10px;

      select {
        width: 140px;
        background: transparent;
        border: none;
        color: $color-dove-gray;

        option {
          color: $color-dove-gray;
        }

        &:focus {
          outline: none;
        }
      }

      svg {
        position: absolute;
        top: 5px;
        right: 0px;
        z-index: -1;

        g {
          fill: $color-dove-gray;
        }
      }
    }

    &__header-logo {
      display: none;
    }
  }

  &-content {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    background-color: white;
    width: 100%;
    word-wrap: break-word;
    min-width: 50%; // to make long words break under flex

    &__doc {
      @import '_asciidoctor';
      @import '_font-awesome';

      width: 100%;

      a {
        color: $color-anchor;
      }

      code[class*="language-"] {
        text-shadow: none;
      }
    }

    &__navigation {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;

      &-breadcrumbs {
        span {
          &:after {
            content: '>';
          }

          a {
            padding: 0px 5px 0px 5px;
          }

          &:last-child {
            &:after {
              content: none;
            }

            a {
              color: $color-cod-gray;
            }
          }

          &:first-child {
            a {
              padding-left: 0px;
            }
          }
        }

      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0px 0px 24px 0px;

      h2 {
        margin: 0;
        line-height: 1;
      }
    }

    a {
      color: $color-anchor;
    }

    #content {
      margin-top: 0;

      video, audio {
        width: 100%;
      }
    }

    .videoblock {
      .youtube-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .quoteblock {
      padding: 32px;
      display: table;

      blockquote {
        font-size: 2rem;
        line-height: 1.2;

        &:before {
          font-size: 3rem;
          line-height: 2.5rem;
        }
      }
    }
  }

  &-toc {
    padding: 5px 2.9rem 5px 1rem;
    border-left: 4px solid $color-toc-red;
    flex-shrink: 0;
    margin-bottom: 20px;
    min-width: 230px;

    &__list {
      .toc-list {
        @include list-unstyled;
        margin-left: 20px;

        li {
          @include font-size(16);
          line-height: 1.6;

          a {
            color: $color-toc-blue;

            &:hover {
              color: $color-toc-dark-blue;
            }
          }

          ul li {
            list-style-type: none;
            font-size: 0.9em;

            &:before {
              content: "\2013\00a0";
            }
          }
        }

      }

      > .toc-list {
        margin-left: 0;
        margin-bottom: 0px;
        list-style-type: square;
        color: gray;
        list-style-position: inside;
      }
    }

    &__title {
      @include font-size(16);
      margin-bottom: 10px;
      margin-top: 0px;
      font-weight: bold;
    }

    &_inner {
      display: none;
    }

    &_outer {
      .docpage-toc__list .toc-list li a {
        color: white;

        &:hover {
          color: $color-silver;
        }
      }

      .docpage-toc__title {
        color: $color-white;
      }
    }
  }

  &-sticky-toc {
    background-color: $color-mine-shaft;
    position: relative;
    top: 15px;
  }

  &-sticky-toc .docpage-toc {
    position: sticky;
    margin-top: 20px;
    top: 20px; // top is required for sticky position to work
  }

  &.type-doc .docpage-menu {
    > input, > label {
      display: none;
    }
  }

  &.type-guide .docpage-content {
    margin-left: 20px;
  }

  &._0-768, &._768-1024, &._1024-1280 {
    .docpage-toc {

      &_outer {
        display: none;
      }

      &_inner {
        display: block;
        margin-left: 0px;
      }
    }
  }

  &.type-doc {
    &._768-1024, &._1024-1280 {
      margin-right: 20px;
    }
  }

  &._0-768 {

    h1 {
      @include font-size(30);
    }

    h2 {
      @include font-size(24);
    }

    h3 {
      @include font-size(16);
    }

    &.type-doc {
      flex-direction: column;

      .docpage-content__navigation {
        display: none;
      }

      .docpage-menu {
        position: sticky;
        top: 0px;
        z-index: 1;
        margin-right: 0px;
        padding: 0;
        background-color: $color-pelorous;

        &-wrapper {
          margin-top: 0px;

          > * {
            padding-left: 20px;
            padding-right: 20px;
          }

          > ol {
            padding-left: 40px;
          }

        }

        &__versions {
          padding: 0;

          select {
            color: $color-white;
          }

          svg g {
            fill: $color-white;
          }
        }

        &-search {
          padding-bottom: 15px;

          input {
            border: none;
          }
        }

        &__title {
          padding-top: 15px;

          a {
            color: $color-white;
          }
        }

        > input {
          display: block;
          position: absolute;
          top: 15px;
          left: 22px;
          opacity: 0;
          z-index: 2;
          cursor: pointer;
          height: 16px;
          width: 16px;

          &:checked + label {
            background-color: transparent;

            &:before, &:after {
              background-color: #fff;
              -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              top: 0;
              width: 20px;
            }

            &:before {
              -webkit-transform: rotate3d(0, 0, 1, 45deg);
              transform: rotate3d(0, 0, 1, 45deg);
            }
            &:after {
              -webkit-transform: rotate3d(0, 0, 1, -45deg);
              transform: rotate3d(0, 0, 1, -45deg);
            }

            + .docpage-menu-wrapper {
              .docpage-menu__versions, .docpage-menu-search, ol {
                display: block;
              }
            }
          }
        }

        > label {
          display: block;
          position: absolute;
          width: 20px;
          height: 3px;
          background: $color-white;
          transition: 0.3s;
          top: 21px;
          left: 20px;

          &:before, &:after {
            display: inline-block;
            width: 20px;
            height: 3px;
            background: $color-white;
            transition: 0.3s;
            position: absolute;
            left: 0;
            content: '';
            -webkit-transform-origin: 15px/14 center;
            transform-origin: 15px/14 center;
          }

          &:before {
            top: 6px;
          }

          &:after {
            top: -6px;
          }

          + .docpage-menu-wrapper {
            .docpage-menu__versions, .docpage-menu-search, ol {
              display: none;
            }
          }
        }

      }

      .docpage-content {
        padding: 20px;
      }
    }

  }
}

.no-header {

  .docpage-menu {

    &__header-logo {
      display: block;
      text-align: center;
      margin-bottom: 15px;

      &-img {
        width: 120px;
        height: 37px;
      }

      &-text {
        @extend %visually-hidden;
      }
    }

  }

  .docpage._0-768.type-doc {
    .docpage-menu {

      > input {
        right: 30px;
        left: auto;
      }

      > label {
        right: 21px;
        left: auto;
      }

      &__header-logo {
        display: none;
      }

      &__header-logo-small-link:before {
        content: '';
        position: absolute;
        left: 20px;
        top: 12px;
        background: url('../img/icons/favicon-white.svg') 0 0 no-repeat;
        height: 23px;
        width: 20px;
        background-size: 20px;
      }
    }
  }

}
