.guide-content {
  @import '_asciidoctor';
  @import '_toc';

  display: flex;
  justify-content: center;

  #content {
    margin-top: 0;

    h2 {
      font-size: 2rem;
    }
  }

  a {
    color: $color-anchor;
  }

  .title {
    display: none;
  }

  h2, h3 {
    text-transform: none;
  }
}

@media screen and (max-width: 768px) {
  .guide-content {
    display: block;

    #title {
      display: none;
    }

    .title {
      display: block;
    }

  }
}