.promo {
  text-align: center;
  margin: 90px 0;

  .cta-button {
    display: inline-block;
    padding: 12px 60px;
    color: $color-white;
    text-decoration: none;
    font-size: 24px;
    font-family: monospace;

    &-red {
      background-color: $color-promo-red;
    }

    &-green {
      background-color: $color-limeade;
    }

    &-blue {
      background-color: $color-pelorous;
    }
  }
}
