@mixin layout {
  &--padding-top {
    @extend .layout-padding-top;
  }

  &--white {
    background-color: $color-white;
    color: $color-black;
  }

  &--grey {
    background-color: #f0f0f0;
    color: $color-black;
  }

  &--blue {
    background-color: #C4EBFF;
    color: $color-black;
  }

  &--darkgrey {
    background-color: $color-dark-gray;
    color: $color-white;
  }
}
