<!DOCTYPE html>
<html lang="en">
<head th:replace="/site/pages/fragments/fragments::head-fragment"></head>

<body class="page-error__body">
<div th:replace="/site/pages/fragments/fragments::header-fragment(baseClass='page-error')"></div>

<main>
    <div class="container">
        <h1 data-th-text="${'Error ' + errorCode + ': ' + errorMessage}">error code</h1>
    </div>
</main>

<footer th:replace="/site/pages/fragments/fragments::footer-fragment(footerClass='page-error__footer')"></footer>

<script async="async" th:src="${portal.assetUrl({'_path=js/main.min.js'})}"></script>
</body>
</html>
