<!DOCTYPE html>
<html lang="en">
<head th:replace="/site/pages/fragments/fragments::head-fragment"></head>

<body class="page-not-found__body">
<div th:replace="/site/pages/fragments/fragments::header-fragment(baseClass='page-not-found')"></div>

<main>
    <div class="container">
        <h1>404 - page not found</h1>
        <p>Yea.. we kinda lost the page you were looking for, or maybe it was moved and we don't know where to, or it has never existed.</p>
        <p>Anyways, go to the <a data-th-href="${frontPageUrl}">front page</a> to look for it there.</p>
    </div>
</main>


<footer th:replace="/site/pages/fragments/fragments::footer-fragment(footerClass='page-not-found__footer')"></footer>

<script async="async" th:src="${portal.assetUrl({'_path=js/main.min.js'})}"></script>
</body>
</html>

