.page-search-result {
  @include page-common;

  &__content {
    @include container;
    @include search-form;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .product-listing {

      &__product-heading {
        margin-bottom: 10px;
      }

      &__product-path {
        word-break: break-all;
        font-weight: bold;
        @include font-size(16);
        margin: 10px 0;
        color: $color-black;
      }

      &__product-extract {
        color: $color-black;
      }
    }
  }

}