.page-search-result {
  @include page-common;

  .product-listing {
    &__item {
      text-align: left;
      margin-bottom: 0px;
    }

    &__product-heading {
      margin-bottom: 10px;
    }
  }

  &__content {
    @include container;
  }

  &__result-header {
    position: relative;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-top: 50px;
  }

  &__result-heading {
    font-weight: 300;
  }

  &__result-heading-count {
    color: $color-pelorous;
    font-style: italic;
    padding-left: 10px;
  }

}