// Grid system
//
// Generate semantic grid columns with these mixins.

// Centered container element
@mixin container-fixed($gutter: $grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
  @extend %clearfix;
}

// Creates a wrapper for a series of columns
@mixin make-grid-row($gutter: $grid-gutter-width) {
  margin-left:  ceil(($gutter / -2));
  margin-right: floor(($gutter / -2));
  @extend %clearfix;
}


// Generate the small columns
@mixin make-grid-sm-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @include breakpoint(small) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-grid-sm-column-offset($columns) {
  @include breakpoint(small) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-grid-sm-column-push($columns) {
  @include breakpoint(small) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-grid-sm-column-pull($columns) {
  @include breakpoint(small) {
    right: percentage(($columns / $grid-columns));
  }
}

// Generate the medium columns
@mixin make-grid-md-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @include breakpoint(medium) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-grid-md-column-offset($columns) {
  @include breakpoint(medium) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-grid-md-column-push($columns) {
  @include breakpoint(medium) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-grid-md-column-pull($columns) {
  @include breakpoint(medium) {
    right: percentage(($columns / $grid-columns));
  }
}

// Generate the large columns
@mixin make-grid-lg-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @include breakpoint(large) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column-offset($columns) {
  @include breakpoint(large) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-grid-lg-column-push($columns) {
  @include breakpoint(large) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-grid-lg-column-pull($columns) {
  @include breakpoint(large) {
    right: percentage(($columns / $grid-columns));
  }
}



// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `$grid-columns`.

// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin make-grid-columns($i: 1, $list: ".grid__col--sm-#{$i}, .grid__col--md-#{$i}, .grid__col--lg-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .grid__col--sm-#{$i}, .grid__col--md-#{$i}, .grid__col--lg-#{$i}";
  }
  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
  }
}


// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin float-grid-columns($class, $i: 1, $list: ".grid__col--#{$class}-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .grid__col--#{$class}-#{$i}";
  }
  #{$list} {
    float: left;
  }
}


@mixin calc-grid-column($index, $class, $type) {
  @if ($type == width) and ($index > 0) {
    .grid__col--#{$class}-#{$index} {
      width: percentage(($index / $grid-columns));
    }
  }
  @if ($type == push) and ($index > 0) {
    .grid__col--#{$class}-push-#{$index} {
      left: percentage(($index / $grid-columns));
    }
  }
  @if ($type == push) and ($index == 0) {
    .grid__col--#{$class}-push-0 {
      left: auto;
    }
  }
  @if ($type == pull) and ($index > 0) {
    .grid__col--#{$class}-pull-#{$index} {
      right: percentage(($index / $grid-columns));
    }
  }
  @if ($type == pull) and ($index == 0) {
    .grid__col--#{$class}-pull-0 {
      right: auto;
    }
  }
  @if ($type == offset) {
    .grid__col--#{$class}-offset-#{$index} {
      margin-left: percentage(($index / $grid-columns));
    }
  }
}

// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin loop-grid-columns($columns, $class, $type) {
  @for $i from 0 through $columns {
    @include calc-grid-column($i, $class, $type);
  }
}


// Create grid for specific class
@mixin make-grid($class) {
  @include float-grid-columns($class);
  @include loop-grid-columns($grid-columns, $class, width);
  @include loop-grid-columns($grid-columns, $class, pull);
  @include loop-grid-columns($grid-columns, $class, push);
  @include loop-grid-columns($grid-columns, $class, offset);
}
