* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

body {
  font-family: $font-family-text;
  min-height: 100vh;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  color: $color-headings;
}

h1, .h1 {
  @include font-size(48);
  font-weight: 300;
  margin-bottom: 0.4em;

  @include breakpoint(medium large) {
    @include font-size(40);
  }

  @include breakpoint(max-width medium) {
    @include font-size(30);
  }
}

h2, .h2 {
  @include font-size(30);
  margin-bottom: 1em;
  font-weight: 300;
}

h3, .h3 {
  @include font-size(10);
  font-weight: 400;
}

h4, .h4 {
  @include font-size(14);
  font-weight: 400;
}

a {
  color: $color-anchor;
}

main {
  padding-top: 60px;
}

.visually-hidden {
  @extend %visually-hidden;
}

.form-control {
  border: 1px solid $color-form-input-border;
  border-radius: 6px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  //@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
  @include form-control-focus;
}

