.enonicarousel {
  width: 100%;
  position: relative;

  &__list {
    @extend .list-unstyled;
    margin: 0;
  }

  &__slide {
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    opacity: 0;

    &--current {
      z-index: 2;
      opacity: 1;
      transition: opacity .6s ease-out;
    }

    img {
      width: 100%;
    }
  }

  &__ctrl {
    @extend .list-unstyled;

    &-btn {
      position: absolute;
      z-index: 3;
      top: 50%;
      margin-top: -2.5em;
      border:0;
      background: rgba(255,255,255,.3);
      line-height: 1;
      padding:2em .5em;
      transition: padding .4s ease-out;

      &:hover,
      &:focus {
        padding-left: 2em;
        padding-right: 2em;
      }

      &:after {
        content: '';
        display: block;
        width: 16px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.5;
      }

      &--prev {
        left:0;
        border-radius: 0 .25em .25em 0;

        &:after {
          background-image: url('../img/enonicarousel__ctrl-btn-prev.svg');
        }
      }

      &--next {
        right:0;
        border-radius: .25em 0 0 .25em;

        &:after {
          background-image: url('../img/enonicarousel__ctrl-btn-next.svg');
        }
      }

      &-text {
        @extend %visually-hidden;
      }
    }
  }

  &__nav {
    @extend .list-unstyled;
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 4;

    @include breakpoint(small medium) {
      display: none;
    }

    &-item {
      display: inline-block;
    }

    &-btn {
      &--slide {
        width: 15px;
        height: 15px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin: 0 5px;
        padding: 0;
      }

      &--current {
        background-color: #fff;
      }

      &--play {
        @include button($color-white);
        padding: 5px 10px;
        left: 10px;
        bottom: 0px;
        position: absolute;

        &:after {
          display: block;
          content: '';
          margin: 5px 0;
        }

        &[data-stop='true'] {
          &:after {
            width: 4px;
            height: 12px;
            border-right: 3px solid #000;
            border-left: 3px solid #000;
          }
        }

        &[data-start='true'] {
          &:after {
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-left: 10px solid #000;
            border-bottom: 6px solid transparent;
          }
        }
      }
    }

    &-num {
      @extend %visually-hidden;
    }
  }
}