
.live-search {
  &__form {

  }

  &__search-box {
    position: relative;

    &--loading {
      &::after {
        display: block;
        content: '';
        width: 21px;
        height: 20px;
        background: url('../img/spinner.svg') top left no-repeat;
        background-size: contain;
        position: absolute;
        right: 20px;
        top: 13px;
        animation: spin .6s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  &__result {
    display: none;
    @extend .list-unstyled;
    position: absolute;
    z-index: 9999;
    background: #fff;
    margin: 0;
    border: 1px solid $color-silver;
  }

  &__hit {
    border-bottom: 1px solid #ccc;

    &--active, &:hover {
      background-color: $color-pelorous;

      .live-search__hit-link {
        color: #fff;
      }
    }

    &-link {
      display: block;
      padding: 10px;
      color: $color-black;
      text-decoration: none;
    }

    &-heading {
      margin: 0;
      font-weight: normal;

      span {
          font-weight: 100;
          color: #444;
      }
    }
  }

  &__no-results {
    display: none;
    color: $color_black;
    border-color: $color-silver;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 10px;
    font-size: 1.4rem;
    position: absolute;
    z-index: 9999;
    background: #fff;
  }
}
