$color-black: #000;
$color-white: #fff;
$color-pelorous: #39A5C8;
$color-limeade: #78A300;
$color-silver: #cccccc;
$color-gallery: #eee;
$color-cornflower-blue: #66afe9;
$color-dove-gray: #666666;
$color-menu-gray: #f0f0f0;
$color-dark-gray: #5e5e5e;
$color-toc-blue: #39A5C8;
$color-toc-red: #ff6c57;
$color-toc-dark-blue: #23527c;
$color-toc-gray: #555;
$color-dark-milk: #f8f8f7;
$color-mine-shaft: #272727;
$color-cod-gray: #1c1c1c;
$color-silver-chalice: #aaa;
$color-aqua-haze: #F4F7F9;
$color-text-light: rgb(255, 255, 255);
$color-highlight: rgb(252, 93, 75);
$color-dark-highlight: #e23b28;
$color-anchor: $color-pelorous;
$color-headings: inherit;
$color-form-input-border: $color-silver;
$color-form-input-border-focus: $color-cornflower-blue;

/********** Breakpoints *********/

$breakpoints: (
        'small': 320px,
        'medium': 768px,
        'large': 1024px,
        'xlarge': 1280px,
        'xxlarge': 1440px,
);

/*// Small screen / tablet
$screen-sm-min:              0px !default;

// Medium screen / desktop
$screen-md-min:              768px !default;

// Large screen / wide desktop
$screen-lg-min:              1024px !default;*/

/*
$device-retina: "(min-width: 1920px)";
$device-desktop: "(min-width: 1025px)";
$device-tablet: "(min-width: 768px) and (max-width: 1024px)";
$device-mobile: "(max-width: 767px)";*/

$headings-font-family: 'gt_pressura', sans-serif;
$headings-font-weight: 500;
$headings-line-height: 1.1;

$font-family-text: 'akkurat', Arial, sans-serif;

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns: 12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 30px !default;
