@mixin page-common {
  @include page-menu;
  @include page-header-search;
  @include page-header;
  @include page-footer;

  @at-root #{&}__body {
    display: flex;
    flex-direction: column;
  }

  @at-root #{&}__content {
    flex-grow: 1;
  }
}
