@mixin page-header {

  @at-root #{&}__header {
    padding-top: 30px;
    padding-bottom:20px;

    @include media('<medium') {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &-container {
      @include container;
      position: relative;
    }

    &-toolbar {
      display: flex;
      align-items: center;
    }

    &-logo {

      &-img {

        &--inverted {
          g {
            fill: $color-white;
          }
        }

        .main-nav-toggled & {
          g, g text, #logo-small {
            fill: $color-white;

          }
        }
        width: 120px;
        height: 37px;

        @include breakpoint(max-width medium) {
          width: 100px;
          height: 31px;
        }
      }

      &-text {
        @extend %visually-hidden;
      }

      &-enonic {
        .main-nav-toggled & {
          fill: $color-white;
        }
      }
    }

    &-spacebreaker {
      flex-grow: 1;
    }

    .main-nav-toggled & {
      position: absolute;
      z-index: 100;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.94);
    }

    &.header-layered {
      position: absolute;
      width: 100%;
      z-index: 1000;
    }

    &.header-hidden {
      display: none;
    }

    &.header-floating {
      div[class$='__header-container'] {
        max-width: none;
      }
    }
  }

  @at-root #{&}__header-wrapper {

    z-index: 1;

    .main-nav-toggled & {
      position: static;
    }
  }
}
