.layout-3-col {
  @include layout;

  .container {
    display: flex;
    justify-content: space-between;
  }

  // Add 20px gap between columns
  [data-portal-region='middle'] {
    margin-left: 20px;
    margin-right: 20px;
  }
}

// Single-column on mobile devices
.layout3-col--oneColMobile {

  @include media('<medium') {
    .container {
      flex-direction: column;
    }

    [data-portal-region='middle'] {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
