&__header {
  padding-top: 30px;

  &-container {
    @include container;
    position: relative;
  }

  &-toolbar {
    display: flex;
  }

  &-logo {

    &-img {
      .main-nav-toggled & {
        g {
          fill: $color-white;
        }
      }
      width: 120px;
      height: 37px;

      @include breakpoint(max-width medium) {
        width: 100px;
        height: 31px;
      }
    }

    &-text {
      @extend %visually-hidden;
    }

    &-enonic {
      .main-nav-toggled & {
        fill: $color-white;
      }
    }
  }

  &-spacebreaker {
    flex-grow: 1;
  }

  .main-nav-toggled & {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.94);
  }
}