&__footer {
  background-color: $color-cod-gray;
  color: $color-silver-chalice;
  text-align: center;

  &-nav {
    @include container;
    border-bottom: 1px solid $color-mine-shaft;
    padding: 35px 0;

    &-list {
      text-align: left;
      display: table;
      margin: 0 auto;
    }

    &-item {
      display: table-cell;
      text-align: center;
      padding: 0 15px;

      @include breakpoint(max-width medium) {
        display: block;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 20px;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &-link {
      @include font-size(16);
      color: #aaa;
      text-decoration: none;
      text-transform: uppercase;
      border: 0;

      &:hover {
        opacity: 0.5;
      }

      &--active {
        color: #39A5C8;
      }
    }
  }

  &-social {
    @include container;
    padding-top: 30px;
    padding-bottom: 30px;

    &-heading {
      float: left;
      text-transform: uppercase;

      @include breakpoint(max-width medium) {
        float: none;
      }

    }

    &-list {
      @include list-unstyled;
    }

    &-item {
      display: inline-block;
      margin: 0 10px;
    }

    &-link {
      display: block;
      background-color: $color-mine-shaft;
      color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      width: 67px;
      height: 67px;
      border-radius: 50%;
      border: 0;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;

      &:hover {
        background-color: $color-silver-chalice;
      }

      &--facebook {
        background-image: url(data:image/svg+xml,%0A%3Csvg%20width%3D%2215%22%20height%3D%2231%22%20viewBox%3D%220%200%2015%2031%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m9.931%2030.24v-14.742h4.361l.578-5.08h-4.939l.007-2.543c0-1.325.135-2.035%202.174-2.035h2.726v-5.081h-4.361c-5.239%200-7.082%202.464-7.082%206.609v3.05h-3.265v5.08h3.265v14.741h6.536%22%20fill%3D%22%23fff%22/%3E%3C/g%3E%3C/svg%3E);
      }

      &--gplus {
        background-image: url(data:image/svg+xml,%0A%3Csvg%20width%3D%2250%22%20height%3D%2249%22%20viewBox%3D%220%200%2050%2049%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m42.661%2012.593v7.716h-3.265v-7.716h-7.617v-3.211h7.617v-7.648h3.265v7.648h5.815c.43%201.042.801%202.114%201.111%203.211h-6.926m-38.626%2022.17c4.244-2.608%209.961-2.952%2013.05-3.149-.957-1.23-2.061-2.534-2.061-4.674%200-1.156.343-1.845.687-2.657-.761.074-1.497.148-2.184.148-7.238%200-11.335-5.412-11.335-10.75%200-3.149%201.448-6.647%204.367-9.178%203.901-3.215%208.538-3.764%2012.218-3.764h14.06l-4.367%202.463h-4.22c1.57%201.301%204.833%204.04%204.833%209.25%200%205.068-2.871%207.454-5.717%209.717-.908.886-1.914%201.845-1.914%203.346%200%201.501%201.01%202.337%201.766%202.952l2.453%201.919c3.02%202.509%205.741%204.846%205.741%209.57%200%203.115-1.45%206.241-4.274%208.64-1.52.248-3.079.38-4.668.384%202.868-1.262%204.354-3.57%204.354-6.343%200-3.493-2.233-5.338-7.434-9.05-.54-.049-.883-.049-1.57-.049-.613%200-4.294.123-7.164%201.082-1.497.541-5.864%202.189-5.864%207.06%200%20.529.056%201.043.166%201.537-7.194-5.351-4.077-4.596-4.896-4.596.819-1.381%202.089-2.738%203.97-3.854m10.452-31.767c-1.766%200-3.68.891-4.784%202.261-1.153%201.437-1.497%203.282-1.497%205.05%200%204.6%202.65%2012.202%208.538%2012.202%201.693%200%203.533-.836%204.637-1.919%201.57-1.574%201.693-3.764%201.693-4.994%200-4.945-2.92-12.603-8.587-12.603%22%20fill%3D%22%23fff%22/%3E%3C/g%3E%3C/svg%3E);
        background-position: center bottom;
      }

      &--twitter {
        background-image: url(data:image/svg+xml,%0A%3Csvg%20width%3D%2231%22%20height%3D%2227%22%20viewBox%3D%220%200%2031%2027%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m15.07%207.543l.064%201.101-1.065-.135c-3.877-.517-7.264-2.27-10.139-5.214l-1.406-1.461-.362%201.079c-.767%202.405-.277%204.944%201.321%206.652.852.944.66%201.079-.809.517-.511-.18-.959-.315-1-.247-.149.157.362%202.202.767%203.01.554%201.124%201.683%202.225%202.918%202.877l1.044.517-1.235.022c-1.193%200-1.235.022-1.108.494.426%201.461%202.109%203.01%203.983%203.686l1.321.472-1.15.719c-1.704%201.034-3.706%201.618-5.709%201.663-.959.022-1.747.112-1.747.18%200%20.225%202.599%201.483%204.111%201.978%204.537%201.461%209.926.832%2013.973-1.663%202.876-1.775%205.751-5.304%207.093-8.72.724-1.82%201.448-5.147%201.448-6.742%200-1.034.064-1.169%201.257-2.405.703-.719%201.363-1.506%201.491-1.73.213-.427.192-.427-.895-.045-1.811.674-2.066.584-1.172-.427.66-.719%201.448-2.023%201.448-2.405%200-.067-.32.045-.682.247-.383.225-1.235.562-1.874.764l-1.15.382-1.044-.742c-.575-.405-1.385-.854-1.811-.989-1.086-.315-2.748-.27-3.728.09-2.663%201.011-4.345%203.618-4.154%206.472%22%20fill%3D%22%23fff%22/%3E%3C/g%3E%3C/svg%3E);
      }

      &--linkedin {
        background-image: url(data:image/svg+xml,%0A%3Csvg%20width%3D%2231%22%20height%3D%2230%22%20viewBox%3D%220%200%2031%2030%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m.76%209.958v19.484h6.312v-19.484h-6.312m3.571-9.538c-2.159%200-3.571%201.455-3.571%203.365%200%201.871%201.37%203.368%203.489%203.368h.04c2.201%200%203.571-1.497%203.571-3.368-.041-1.91-1.371-3.365-3.53-3.365m18.642%209.538c-3.351%200-4.851%201.891-5.689%203.218v-2.76h-6.312c.083%201.828%200%2019.484%200%2019.484h6.312v-10.881c0-.582.041-1.163.208-1.58.456-1.163%201.495-2.368%203.238-2.368%202.285%200%203.198%201.787%203.198%204.405v10.424h6.311v-11.171c0-5.985-3.114-8.77-7.267-8.77%22%20fill%3D%22%23fff%22/%3E%3C/g%3E%3C/svg%3E);
      }

      &--youtube {
        background-image: url(data:image/svg+xml,%0A%3Csvg%20width%3D%2233%22%20height%3D%2223%22%20viewBox%3D%220%200%2033%2023%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m32.27%2019.226c-.4%201.738-1.822%203.02-3.533%203.211-4.053.453-8.155.455-12.239.453-4.084.002-8.186%200-12.238-.453-1.711-.191-3.132-1.473-3.532-3.211-.569-2.476-.569-5.177-.569-7.725%200-2.549.007-5.25.575-7.726.4-1.738%201.821-3.02%203.532-3.211%204.053-.453%208.155-.455%2012.239-.453%204.084-.002%208.186%200%2012.238.453%201.711.191%203.133%201.473%203.533%203.211.569%202.476.566%205.177.566%207.726%200%202.548-.003%205.25-.572%207.725m-18.711-13.756l9.05%205.222-9.05%205.222v-10.444%22%20fill%3D%22%23fff%22/%3E%3C/g%3E%3C/svg%3E);
      }

      &--webagility {
        background-image: url(data:image/svg+xml,%0A%3Csvg%20viewBox%3D%220%200%2025%2025%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m4.918%206.627c-1.086-.228-7.347-2.472-10.924-2.472-3.578%200-9.994.437-9.994.437%200%200%204.569-.697%209.578-.922%204.616-.208%208.62%201.895%2011.34%202.293%202.721.398%203.386.824%204.328%200%20.942-.824.965-1.441%202.08-2.293%201.401-1.071%203.133-1.906%203.133-1.61%200%20.296-1.342%204.963-.878%205.346%201.576%201.299%203.345%203.627%203.794%204.427.449.8-.427.299-.311%201.782.022.285-.191%201.162%200%201.508%201.078%201.953%202.485%202.865%201.891%203.618-.281.356-2.603%202.988-4.131%203.828-1.703.937-2.623.066-2.857%200-.03-.008%201.203.305%202.492-.273%201.482-.665%203.076-2.313%203.53-3.718.126-.39-.756-1.784-1.175-3.037-.19-.566-.194-1.224-.126-1.926.073-.747.067-1.512-.152-1.935-.425-.821-3.288-4.01-3.441-4.049-.351-.083.393-4.489.486-4.571.093-.081-1.022.329-1.919%201.095-1.129.965-2.037%202.294-2.417%202.472-.381.178-1.55.582-4.328%200%22%20fill%3D%22%23fff%22/%3E%3C/g%3E%3C/svg%3E);
      }
    }
  }

  &-copyright {
    background-color: $color-mine-shaft;
    padding: 20px 0;
    @include font-size(8.75);

    &-text {
      @include container;
      text-align: left;
    }
  }
}